/*
Theme Name: customtheme
Theme URI: https://wordpress.org/themes/customtheme/
Author: ammy singh
Versiion: 1.0
Author URI: https://wordpress.org/
Description: Just for testing 
License: GNU General Public License v1 or later
License URI: http://www.gnu.org/licenses/gpl-1.0.html
Text Domain: customtheme
Tags: black

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* css custom gradient....really awesome*/
.gradient-bg {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100 */
		background: #1e5799; /* Old browsers */
		background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #1e5799 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
		color: white;
}
.margin-neg-20 {
	margin-top: -20px;
}
.main-custom-nav {
	border-radius: 0;

}
.main-custom-nav a {
	color: white;
}
.main-custom-nav .navbar-nav > li > a:hover,
.main-custom-nav .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #f3f3f3;
}
.main-custom-nav .icon-bar {
	color: white;
	background-color: white;
}
body.page-id-50 h1 {
	color: red;
}